
:root {
  --active-note-colour: red;
}

.note {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  line-height: 47px; /* set to equal the height of the span */
}

.active-note {
  background-color: var(--active-note-colour);
}

.blank-note {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  margin: 5px;
  line-height: 47px; /* set to equal the height of the span */
}

.root {
  border: 2px solid red;
}

.third {
  border: 2px solid orange;
}

.fifth {
  border: 2px solid green;
}
